<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>HTTP Service Demo</title>
	<meta charset="utf-8" />
    <script src="Scripts/jquery-2.2.3.js"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/angular-route.js" type="text/javascript"></script>
</head>
<body>
    <div ng-controller="testController">
        <h1>Weather Data Demo</h1>

        <p>
            <label>City: <input type="text" ng-model="city" /></label>
        </p>
        <p>
            <label>Country: <input type="text" ng-model="country" /></label>
        </p>
        <button ng-click="getWeather()">Get Weather Data</button>
        <p></p>

        Weather Condition: <span>{{weatherDescription}}</span>

    </div>
    <script type="text/javascript">
        var myapp = angular.module('myApp', []);

        myapp.factory('weatherService', function ($http) {
            return {
                getWeather: function (city, country) {
                    var query = city + ',' + country;
                    return $http.get(
                            'http://api.openweathermap.org/data/2.5/weather',
                            {
                                params: {
                                    q: query,
                                    appid: '6560646f31f1946c8f2c5341262a021e'
                                }
                            })
                        .then(function (response) { //then() returns a promise which is resolved
                            //with return value of success callback

                            ///Now extract weather data
                            return "Current weather condition: " +
                                  response.data.weather[0].description +
                                  " Current temperature: " +
                                  (response.data.main.temp - 273.15).toFixed(2) + " C";
                        });
                }
            }
        });

        myapp.controller('testController', function ($scope, weatherService) {
            $scope.serverData = null;

            $scope.getWeather = function () {
                {
                    $scope.weatherDescription = "Fetching . . .";
                    weatherService.getWeather($scope.city, $scope.country)
					.then(function (data) {
					    $scope.weatherDescription = data;
					}, function () {
					    $scope.weatherDescription = "Could not obtain data";
					});
                }
            }
        });


    </script>
</body>

<!--<body>
    <h1>HTTP Service Demo</h1>
    <div ng-controller="demoController">
        <button ng-click="getData()">Get Data</button>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ProductID</td>
                        <td>CategoryID</td>
                        <td>ProductName</td>
                        <td>QuantityPerUnit</td>
                        <td>UnitPrice</td>
                        <td>UnitsInStock</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productData in myData">
                        <td>{{productData.ProductID}}</td>
                        <td>{{productData.CategoryID}}</td>
                        <td>{{productData.ProductName}}</td>
                        <td>{{productData.QuantityPerUnit}}</td>
                        <td>{{productData.UnitPrice}}</td>
                        <td>{{productData.UnitsInStock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var myapp = angular.module('myApp', []);
        myapp.controller('demoController', function ($scope, $http) {
            $scope.myData = "";
            $scope.getData = function () {
                $http({
                    method: 'GET',
                    //url: 'TextFile.txt'
                    url: "http://services.odata.org/V3/Northwind/Northwind.svc/Products"
                }).then(function successCallback(response) {
                    debugger;
                    // this callback will be called asynchronously
                    // when the response is available
                    $scope.myData = response.data.value;
                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    $scope.myData="Some Error Occurred!!"
                });
            }
        });
    </script>
</body>-->
</html>
